.header {
    padding: 0 170px;
    background-color: #2C3639;
    height: 550px;
    color: #DCD7C9;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skills {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}


.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    height: 150px;
    padding: 50px;
    gap: 52px;
    word-wrap: break-word;
}

.card-photo {
    width: 100px;
    height: 100px;
    background-color: green;
}

.quote {
    height: 400px;
    background-color: #3F4E4F;
}

.quote h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.email-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    /* width: 75%; */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3639;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    min-height: 98vh;
}

ul {
    list-style-type: none;
}