<div class="container">
	<% items.forEach(item => { %>
	<div class="container flex">
	<p class="title">
		<%= item.name %>
	</p>
		<button>Edit</button>
		<% let itemId; %>
		<% if (item.category_id) {itemId = item.category_id} else { itemId = item.store_id } %>
		<button class="delete-btn" data-id="<%= itemId %>">Delete</button>

	</div>
	<% }); %>
</div>
