.container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  justify-content: end;
  padding: 1.5rem;
  margin: 1.5rem;
  background: gray;
}
