  <footer>
  <div class="footer">
  <span>Designed by <a href="https://thecodedom.com/">TheCodeDom</a></span>
   © <span id="year"></span>
  </div>
  </footer>
  <script src="/script.js"></script>
  </body>
</html>
