<html>
  <head>
    <title>Message the people</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
  <!-- this should be some stuff that loads --!>
  <%- include('navbar', {links: links}) %>
	<div class="container msg-feed"> 
	  <% msgs.forEach((msg) => { %>
	    <div class="card">
	     <h3><%= msg.username %></h3>
	     <span><%= msg.date %></span>
	     <p><%= msg.message %></p>
	    </div>
	      <% }); %>

</div>


  </body>
</html>
