<form method="POST" action="/new">
<div class="form-item">
  <label for="uername">Username</label>
  <input type="text" id="username" name="username">
</div>
<div class="form-item">
  <label for="message">Message</label>
  <input type="text" id="message" name="message">
</div>
<div class="form-item">
<button type="submit">Submit</button>
</div>



</form>
<!--  vim: sts=2 sw=2 et ts=2 # -->
