	<footer class="container">
		<h2 class="foooter-heading">Inspired Cliches</h2>
		<p>Making unsolicited advice inspiring.</p>
		<div class="social-icons flex">
			<a href="https://github.com/smiggiddy/odin-codeprojects" target="_blank"><i class="fa-brands fa-github"></i></a>
			<a href="https://smig.tech" target="_blank"><i class="fa-solid fa-link"></i></a>
		</div>
		<p> © Copyright <%= new Date(Date.now()).getFullYear() %></p>
	</footer>
	<script src="/js/script.js"></script>
	</body>
</html>
