<%- include('header') %>
<form class="center-horizontal" method="POST" action="/auth/login">
	<div class="form-item flex">
		<label for="username">UserName</label>
		<input type="text" name="username" required/>
	</div>
	<div class="form-item flex">
		<label for="password">Password</label>
		<input type="password" name="password" required/>
	</div>
		<div class="form-item flex">
			<button type="submit" class="btn">Login</button>
			<button type="button" class="btn" onclick="document.location.href='/auth/register'">Sign up</button>
		</div>
	
</form>
<%- include('footer') %>
