<%- include('header') %>
<form method="POST" action="/auth/login">
	<div class="container">
		<div class="form-item flex">
		<label for="username">UserName</label>
		<input type="text" name="username"/>
		</div>
		<div class="form-item flex">
		<label for="password">Password</label>
		<input type="password" name="password"/>
		</div>
		<div class="form-item">
			<button type="submit" class="btn">Login</button>
			<button type="button" class="btn">Sign in with Google</button>
			<button type="button" class="btn" onclick="document.location.href='/auth/register'">Sign Up</button>
		</div>
	</div>
	
</form>
<%- include('footer') %>
