<%- include('header') %>
<% if (locals.errors) {%>
  <div class="center-horizontal">
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error %></li>
    <% }); %>
  </ul>
  </div>
<% }; %>
<main class="container full-page">
	<form class="center-horizontal" method="POST" action="/auth/login">
		<div class="form-item flex">
			<label for="username">Username</label>
			<input type="text" name="username" required/>
		</div>
		<div class="form-item flex">
			<label for="password">Password</label>
			<input type="password" name="password" required/>
		</div>
			<div class="form-item-row flex">
				<button type="submit" class="btn btn__form">Login</button>
			</div>
			<p>Need an account?
				<a href="/auth/register">Click here!</a>
			</p>
		
	</form>
</main>
<%- include('footer') %>
