<%- include("header") %>

<div class="full-page container center-horizontal">
	<h1 class="username"><%= user.username %></h1>
	<% if(currentUser.user_id === user.user_id ) { %>
		<p>This is your profile page.</p>
	<% }; %>
	<p><%= totalPosts %> Posts</p>

</div>
<%- include("footer") %>
