<form action="/file" method="post" enctype="multipart/form-data">
<div class="container file-upload">
    <input type="file" name="fileUpload" id="fileUpload" class="file">
    <input type="hidden" name="folderId" value=<%= folder.id %>>
    <button type="submit">Upload</button>
</div>
</form>


<form action="/file/directory" method="post">
	<div class="container">
		<label for="directory-name">Directory Name:</label>
		<input type="text" name="directory-name" placeholder="">
    		<input type="hidden" name="parentId" value=<%= folder.id %>>
		<button>Create Directory</button>
	</div>
</form>
