<section class="file-upload">
	<h2 class="h2-heading">New upload</h2>
	<form action="/file" method="post" enctype="multipart/form-data">
	<div class="container file-upload">
	    <input type="file" name="fileUpload" id="fileUpload" class="file" required>
	    <input type="hidden" name="folderId" value=<%= folder.id %>>
	    <input type="hidden" name="folderName" value=<%= folder.name %>>
	    <button type="submit" class="btn">Upload</button>
	</div>
	</form>
</section>

