<div class="container">
<p class="directory-path">
<% parentDirectories.forEach(d => { %>
 <a href="/fs/<%= currentUser.username %>/<%= d.id %>"><%= d.name %></a><span> /</span>
<% }); %>
 <span class="current-directory"> <%= directoryListing.name %></span>
</p>
</div>
