:root {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}
