input {
    outline: none;
}
input:user-invalid {
    outline: none;
    border: 3px solid red;
}

input:valid {
    outline: none;
    border: 3px solid green;
}

span {
    margin-left: 10px;
    color: red;
}
