:root {
  --font-size: 18px;
  --desktop-heading-font-size: 5em;
  --desktop-line-height: 1;
  --mobile-heading-font-size: 4em;
  --mobile-line-height: 0.8;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Lato, serif";
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

nav {
  font-size: 1.5rem;
  margin: 1em 0 2em;
}

nav > ul {
  list-style: none;
}

ul {
  padding: 0;
  margin: auto;
  justify-content: space-around;
  max-width: 80vw;
}

ul > li {
  display: inline-block;
  text-align: center;
}

form {
  width: 100%;
  max-width: 50vw;
}

input {
  padding: 0.75em;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.container.flex.hero {
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.container.hero {
  text-align: center;
}

.container.hero * {
  margin: 0.5em 0;
}

.container.hero p {
  font-size: 1.2rem;
  padding: 1em;
}

.center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero__heading {
  margin: 0;
  font-size: var(--mobile-heading-font-size);
  font-family: "Rokkitt", serif;
  line-height: var(--desktop-line-height);
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  border-radius: 0.7em;
  font-size: 1em;
}

.btn__link {
  text-align: center;
  background: #f0f0f0;
  line-height: 1.5em;
  max-width: 200px;
}

.btn__link:hover {
  background: #bfbba9;
}

.btn__form {
  background: #f0f0f0;
}

.btn__form:hover {
  background: #bfbba9;
}

.hero > .btn__link {
  margin-top: 2em;
}

#main {
  padding: 0 50px;
}

#main > .container.flex {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feed-heading {
  margin-left: 1em;
  text-transform: capitalize;
}

.feed-heading span {
  text-transform: initial;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: 2em;
  grid-auto-flow: dense;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item.card {
  border: 1px solid black;
  text-align: center;
  padding: 1.5em 1.5em 0.5em;
}

.grid__card__metadata {
  font-size: 0.8em;
  justify-content: space-between;
}

.card .card__message {
  margin-bottom: 1em;
}

.form-item {
  flex-direction: column;
  width: 100%;
  margin: 0.5em 0;
}

.form-item-row {
  flex-direction: column;
  width: 100%;
  margin: 0.5em 0;
  gap: 0.5em;
}

.hover__underline {
  /*display: inline-block;*/
  position: relative;
}

.red {
  color: red;
}

.hover__underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover__underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 750px) {
  ul {
    max-width: 60vw;
  }
  .hero__heading {
    margin: 0;
    font-size: var(--desktop-heading-font-size);
    font-family: "Rokkitt", serif;
    line-height: var(--desktop-line-height);
  }
  .container.hero p {
    font-size: 1.5rem;
    padding: 0.5em;
  }
  .container.flex * {
    flex: 1;
  }
  #main {
    padding: 0 100px;
  }

  #main > .container.flex {
    gap: 10em;
  }
  .grid__span_two {
    grid-column-end: span 2;
  }
  .form-item-row {
    flex-direction: row;
    width: 100%;
    margin: 0.5em 0;
    gap: 0.5em;
  }

  /*.form-item > .btn {*/
  /*  max-width: 200px;*/
  /*}*/
}
