:root {
    --background-color: #000000; 
    --spacing-sm: 16px;
    --spacing-md: 20px;
}

body, html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    font-size: 1.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.content {
    min-height: 1000px;
    min-width: 1000px;
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 300px;
    min-height: 250px;
    text-align: center;
}

.card p {
    padding: 0;
    margin: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    min-height: 43vh;
    min-width: 20vw;
    border: none;
    padding: 20px 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    min-height: 2.2rem;
    font-size: 1.2rem;
}

.form-header {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-item input {
    transform: scale(1.5);
}

.form-item label {
    font-weight: 500;
    font-size: 1.3rem;
}


.close-btn {
    height: 30px;
    align-self: center;
}

.btn {
    padding: var(--spacing-sm) var(--spacing-md);
}
