:root {
    --background-color: #000000; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.content {
    min-height: 1000px;
    min-width: 1000px;
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-width: 200px;
    min-height: 200px;
}

