:root {
    --dark-color: #000;
    --font-size: 18px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: 'slnt' 0;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.form {
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: auto;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form button {
    align-self: baseline;
    flex: 1;
    height: 41px;
}

.form-input input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-input span {
    color: red;
    margin-left: 5px;
}

.form-input span {
    font-size: 0.8rem;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.city {
    grid-column: 1 / span 3;
    place-self: center;
}

.temp {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 4rem;
    font-weight: 900;
}

/* .conditions { */
/*     grid-column: 3 / span 1; */
/*     grid-row: 2 / span 1; */
/* } */
.conditions-desc {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

.temp-details-container {
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: column;
}
