<%- include('partials/header') %>
    <form action="/auth/register" method="post" class="register-form">
        <div class="form-input">
            <label for="username">Username</label>
            <input type="text" name="username">

        </div>
        <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        </div>
        <div class="form-input">
            <label for="password-confirmation">Password Confirmation</label>
            <input type="password" name="password-confirmation" id="password-confirmation" required>
        </div>
        <div class="form-input">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <button type="submit">Submit</button>
    </form>

    <script src="/js/form.js"></script>

<%- include('partials/footer') %>


