<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/auth/register" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="password-confirmation">Password Confirmation</label>
        <input type="password-confirmation" name="password-confirmation" id="password-confirmation">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <button type="submit">Submit</button>
    </form>
        <script src="/js/form.js"></script>
</body>

</html>
