<%- include("header") %>
<form action="/new" method="POST" class="center-horizontal">
	<div class="form-item flex">
		<label for="message">Message</label>
		<textarea type="text" name="message" required></textarea>
	</div>
	<div class="form-item flex">
		<label for="media">Media</label>
		<input type="text" name="media" />
	</div>
	<div class="form-item flex col">
		<button type="submit" class="btn">Post</button>
		<button type="button" class="btn" onClick="document.location.href='/'">Back</button>
	</div>
</form>



<%- include("footer") %>
