:root {
   font-size: 16px; 
}

body,html {
    width: 100vw;
    margin: 0;
    padding: 0;
}


header h1 {
    font-size: 2rem;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content>.game-area {
    display: grid;
    grid-area: 1 / 1 / 4 / 4;
    gap: 15px;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    justify-items: center;
    align-items: center;
}
