:root {
    --font-size: 18px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    line-height: 1.7;
}

table {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 5px;
}

tr {
    height: 2em;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 1rem;
}

input[type="checkbox"] {
    /* appearance: none; */
    /* For iOS < 15 to remove gradient background */
    /* background-color: #fff; */
    /* Not removed via appearance */
    /* margin: 0; */
    width: 1.2rem;
    height: 1.2rem;
}

.container {
    display: flex;
}

.nav {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 350px;
    padding: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project-heading {
    padding-left: 15px;
}

.project-add {
    display: none;
    width: 100%;
}

.project-add input {
    padding: 10px;
}

.project-add-active {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.active,
.project-btn:hover {
    background-color: gray;
}

.project-btn .project-delete-btn {
    visibility: hidden;
    float: right;
}

.project-btn:hover .project-delete-btn {
    visibility: visible;
    float: right;
}


.popup-buttons {
    display: flex;
    gap: 10px;
}

.popup-buttons button {
    width: 100%;
    margin: 10px 0;
}

.itag {
    float: left;
}

/* TODOS */

.todos {
    flex: 1;
    padding: 0 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    
}

.todos p {
    text-align: center;
}

.todo-add {
    display: none;
    width: 100%;
}

.todo-add-active {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    width: 100%;
}

.todo-add input {
    padding: 10px;
}

.todo-add-inputs {
    display: flex;
    gap: 10px;
}

.todo-add-inputs input {
    flex: 1 1 auto;
}

.todo-delete-btn {
    visibility: hidden;
    background: none;
    width: auto;
    padding: 0;
    margin: 0;
}

.todo-row:hover .todo-delete-btn {
    visibility: visible;
}

.add-todo-btn {
    width: initial;
}

.completed {
    text-decoration: line-through 3px;
}
