.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 100px;
}
.grid {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
}

.cell {
    width: 48px;
    height: 48px;
}
