body,
html {
    font-size: 18px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.carousel img {
    object-fit: contain;
}

.active-slide {
    display: block;
}

.carousel-img {
    transform: 200%;
}

.carousel-img .active {
    transition: transform 200ms ease-out;
}
